<div fxLayout="row" fxLayoutAlign="start end" [style.height]="'80px'">
  <h5>Please enter your mobile number. We will send you an confirmation code via SMS to reset your password.</h5>
</div>

<msp-mobile-input [tiggerValidationObservable]="submit$" (validator)="mobileValidator$.next($event)"></msp-mobile-input>

<div fxLayout="row" fxLayoutAlign="start center" [style.height]="'80px'">
  <div [style.width]="'100%'" *ngIf="forgotPasswordState$ | async; let state">
    <div class="error-box" [@swipeInOut] *ngIf="state.current === 'onFailure'">
      {{ state.error.message }}
    </div>
  </div>
</div>

<button md-raised-button color="primary" [style.width]="'100%'" (click)="submit$.next(true)">SEND CODE</button>
