<form novalidate fxLayout="row" fxLayoutAlign="start center" [style.height]="'80px'" [formGroup]="form">

  <md-icon [style.marginRight]="'20px'">vpn_key</md-icon>

  <md-input-container [style.width]="'100%'" floatingPlaceholder="false">
    <input md-input type="text" formControlName="code" placeholder="Confirmation Code">
    <md-hint [style.color]="'red'" align="end" [@opacity]="(isInputting$ | async) ? 'true' : 'false'">
      <div *ngIf="validator$ | async; let validator">
        <span *ngIf="!validator.isValid">{{ validator.errMsg }}</span>
      </div>
    </md-hint>
  </md-input-container>

</form>
